<a href="https://colab.research.google.com/github/koto253/DATA_611/blob/main/Module09_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework Week 09

1. Explain how does the k-means algorithm work?
2. Base on the given data set (https://raw.githubusercontent.com/franklin-univ-data-science/data/master/customers.csv), apply k-mean clustering, identify the number of clusters using the elbow method, present the results by scatter plot.
3. Apply silhouette analysis on the above k-mean clustering.

In [ ]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/franklin-univ-data-science/data/master/customers.csv')

In [ ]:
data.head()

   CustomerID  Annual Income (k$)  Spending Score (1-100)
0           1                  15                      39
1           2                  15                      81
2           3                  16                       6
3           4                  16                      77
4           5                  17                      40