<a href="https://colab.research.google.com/github/koto253/MATH_611/blob/main/Module05_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework Week 5

1. In the given data set below, identify the number of missing values by column; handle the missing values using SimpleImputer from scikit-learn library:

- filling the missing values in col1 by most frequent number (hint: strategy='most_frequent').

```python
import pandas as pd
from io import StringIO

csv_data = \
'''
col1,col2
,2.0
,
10.0,11.0
1, 3
1, 11
'''

df = pd.read_csv(StringIO(csv_data))
df
```
2. Explain the transformer and estimator in scikit-learn. What are the differences between them?
3. In the given data set below, standardize the numeric variables and generate the dummy variables for the categorical variables using one-hot encoding.

```python
import pandas as pd
import numpy as np
np.random.seed(123)

df = pd.DataFrame(np.random.rand(10, 2),
                 columns = ['col1', 'col2'])
df['col3'] = list(''.join(np.random.choice(list('abc')) for _ in range(len(df))))
df
```
4. Assume col3 is the target, separate the original data set in #3 into 80% training and 20% test.
5. Load scikit-learn's diabetes data set by **load_diabetes()**, pick the top 3 most discriminative features using Random Forest.

```python

from sklearn import datasets
diabetes = datasets.load_diabetes()
X = diabetes.data
y = diabetes.target
```

In [ ]:
import pandas as pd
from io import StringIO

csv_data = \
'''
col1,col2
,2.0
,
10.0,11.0
1, 3
1, 11
'''

df = pd.read_csv(StringIO(csv_data))
df

   col1  col2
0   NaN   2.0
1   NaN   NaN
2  10.0  11.0
3   1.0   3.0
4   1.0  11.0

In [ ]:
df['col3'] = [1.0, 2.0, 3.0, 4.0, 5.0]

df

   col1  col2  col3
0   NaN   2.0   1.0
1   NaN   NaN   2.0
2  10.0  11.0   3.0
3   1.0   3.0   4.0
4   1.0  11.0   5.0

In [ ]:
df.isna().sum()

col1    2
col2    1
col3    0
dtype: int64

In [ ]:
from sklearn.impute import SimpleImputer

In [ ]:
col1 = df[['col1']]

col1_imputed = SimpleImputer().fit_transform(col1)

In [ ]:
col1_imputed

array([[ 4.],
       [ 4.],
       [10.],
       [ 1.],
       [ 1.]])