<a href="https://colab.research.google.com/github/koto253/MATH_611/blob/main/Module01_HW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework  1

1. Import pandas and load the olympics.csv. 
   Show the first 10 rows. 
Here is the URL of dagta: https://raw.githubusercontent.com/franklin-univ-data-science/data/master/olympics.csv
1. Select only the NOC column using both the bracket and dot notations, show the top 5 rows. 
1. Select the rows of men's gold medals in singles badminton, and sort the results alphabetically by the player's names. 
1. List the top three countries (NOC column) that won the most medals from 1984 (inclusive) to present.
1. Plot the number of medals of the top 3 athlete in 2008 using matplotlib.pyplot.
   - use bar chart
   - use value_counts(); note the returned results is a Series. So, the x axis is the index of Series.
1. Use list comprehension to define a new column "is_US". When the country is USA, the value of is_US is True, otherwise the value is False.
1. Hide the medal information for 1988 olympics; i.e., when edition is 1988, change the Medal as "Unknown".

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/franklin-univ-data-science/data/master/olympics.csv')

Problem 1.

Import pandas and load the olympics.csv. Show the first 10 rows. Here is the URL of data: https://raw.githubusercontent.com/franklin-univ-data-science/data/master/olympics.csv

In [ ]:
df.head(10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold